<div id="login" class="login main-content">
    <app-header></app-header>
    <div class="signin-container">
        <div class="signin-wrapper">
            <div class="signin-text mb-1">
                <div>Sign in</div>
                <div>Sign in to your Self Service Portal</div>
            </div>
            <div class="signin-form">
                <form [formGroup]="loginForm" id="signin-form" (ngSubmit)="submit()">
                    <div class="input-wrapper">
                        <label for="username" [ngClass]="{'danger': UserName.dirty && !UserName.valid}">Username</label>
                        <input type="text" id="username" formControlName="username"
                            [ngClass]="{'danger': UserName.dirty && !UserName.valid}" (input)="apiError=false">
                        <span class="danger" [class.hidden]="!(UserName.dirty && !UserName.valid)">
                            Username is required
                        </span>
                    </div>
                    <div class="input-wrapper">
                        <label for="password" [ngClass]="{'danger': Password.dirty && !Password.valid}">Password</label>
                        <input type="password" id="password" formControlName="password"
                            [ngClass]="{'danger': Password.dirty && !Password.valid}" (input)="apiError=false">
                        <span class="danger" [class.hidden]="!(Password.dirty && !Password.valid) && !apiError" [class.disp_none]="apiError">
                            Password is required
                        </span>
                        <span class="danger" [class.disp_none]="!apiError">
                            {{apiErrorText}}
                        </span>
                    </div>
                    <button class="submit" type="submit">
                        <span [style.display]="validating ? 'block' : 'none'" class="loader"></span>
                        <span>
                            Log In
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>