.login *{
    font-family: 'Poppins';
}

/* .login{
    Since height of header is 84px
    height: calc(100vh - 83px); 
    position: relative;
    top: 83px;
    font-family: 'Poppins';
    background-color: #000000;
} */

.signin-container{
    width: 100%;
    height: calc(100vh - 84px);
    justify-content: center;
}

.signin-container, form, .input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-wrapper{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
    background-color: #fff;
}

.mb-1{
    margin-bottom: 1rem;
}

.signin-text div:first-of-type{
    font-size: 34px;
}

.signin-text div:last-of-type{
    font-size: 16px;
    font-weight: 300;
}

form{
    padding: 1rem 0;
}

form input{
    width: 28rem;
    height: 3.5rem;
    border-radius: 15px;
    border: 2px solid #00000024;
    padding: 0.5rem 1rem;
}

form input:focus-visible{
    outline: none;
}

form button{
    width: 100%;
    border: none;
    background: #FF7D65;
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

form label{
    font-size: 12px;
    position: absolute;
    left: 20px;
    top: -8px;
    background-color: #fff;
    z-index: 1;
    padding: 0 8px;
}

.input-wrapper{
    position: relative;
    margin-bottom: 1rem;
}

.input-wrapper span{
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 2px;
}

.danger{
    color: red;
    border-color: red !important;
}

.hidden{
    visibility: hidden;
}

.disp_none{
    display: none;
}

.loader {
    display: none;
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.submit{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}