<app-header [showButtons]="true" (searchText)="search($event)"></app-header>
<div class="homepage main-content">
    <div id="banner" class="banner">
        <img src="assets/images/homepage_banner.png" alt="Movie Banner">
    </div>
    <div *ngIf="!loading" id="movies" class="movies pad-2">
        <div class="heading">{{searchInput === '' ? 'Trending' : 'Search results for "' + searchInput + '"'}}</div>
        <div id="moviesList" class="movieList">
            <div id="card" class="card" *ngFor='let movie of allMovies | paginate: {
                currentPage: current_page,
                itemsPerPage: 20,
                totalItems: totalPages
            }' (click)="redirect(movie.id)">
                <div class="image">
                    <img [src]="imgBaseUrl + movie?.poster_path" [alt]="movie?.title" onerror="this.src='assets/images/broken-image.jpg'">
                </div>
                <div class="footer">
                    <div class="info">
                        <div class="title">{{ movie?.original_title }}</div>
                        <div class="ratings">
                            <ngb-rating [rate]="(movie?.vote_average)/2" [max]="5" [readonly]="true" class="star_rating">
                            </ngb-rating>
                            {{(movie?.vote_average/2).toString().slice(0,3)}}/5
                        </div>
                    </div>
                    <button class="button">
                        <img src="assets/images/play_btn.png" alt="play">
                    </button>
                </div>
            </div>
        </div>
        <div id="pagination-controls">
            <!-- Pagination -->
            <pagination-controls 
                    (pageChange)="changePage($event)" previousLabel="" nextLabel="" class="homepage-pagination" [maxSize]="6" ></pagination-controls>
            <!-- <ngb-pagination [collectionSize]="totalPages" [maxSize]="5" [page]="current_page" [pageSize]="20"
                (pageChange)="changePage($event)" class="ngbPagination">
                
            </ngb-pagination> -->
        </div>
    </div>
    <div *ngIf="loading" id="loading" class="loading">
        <ngx-spinner name="sp" bdColor="rgba(51,51,51,0.8)" size="medium" [fullScreen]="false" type="ball-spin-clockwise" size="medium">
        </ngx-spinner>
    </div>
</div>
<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>