.banner img{
    width: 100%;
}

.card{
    width: 17.5rem;
    height: 11rem;
    display: inline-block;
    border: none;
    position: relative;
    cursor: pointer;
}

.image{
    height: 100%;
    overflow: hidden;
}

.image img{
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: linear-gradient(90deg, rgba(26,43,74,1) 0%, rgba(43,80,124,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .info{
    color: #fff;
}

.heading{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.movieList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, auto));
    justify-content: center;
    gap: 2rem 2.2rem;
    padding: 2rem 0;
}

.title{
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info{
    width: 86%;
}

.button{
    border: none;
    background: transparent;
}

.loading{
    width: 100%;
    height: calc(100vh - 346px);
    position: relative;
}

.homepage-pagination ::ng-deep .ngx-pagination li{
    background: transparent;
}

.homepage-pagination ::ng-deep .ngx-pagination li a span:last-of-type{
    color: rgba(255, 255, 255, 0.60);
}

.homepage-pagination ::ng-deep .ngx-pagination li.pagination-next a, .homepage-pagination ::ng-deep .ngx-pagination li.pagination-previous a{
    color: #fff;
}

.homepage-pagination ::ng-deep .ngx-pagination li a:hover{
    background: transparent;
}

.homepage-pagination ::ng-deep .ngx-pagination li.current{
    color: #FF6A63;
    text-decoration: underline;
}

#pagination-controls{
    display: flex;
    justify-content: center;
}

.star_rating ::ng-deep span{
    color: goldenrod;
}

.ngbPagination ::ng-deep ul li a {
    background: transparent;
    color: #fff;
    border: none;
}

.ngbPagination ::ng-deep ul li.active a{
    color: #FF6A63;
    text-decoration: underline;
}

.ngbPagination ::ng-deep .page-link:focus{
    box-shadow: none;
}

@media only screen and (max-width: 1006px){
    .movieList{
        gap: 2rem;
    }
}

@media only screen and (max-width: 984px){
    .movieList{
        gap: 1rem;
        padding: 2rem 0.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .homepage-pagination ::ng-deep ul{
        padding: 0;
    }

    .homepage-pagination ::ng-deep ul li{
        padding: 0 0.3rem;
    }
    .homepage-pagination ::ng-deep ul li a{
        padding: 0 0.3rem;
    }
}