<ng-container *ngIf="dataLoaded">
    <app-header></app-header>
    <div id="movie-details" class="movie-details main-content">
        <div id="background-image" class="background-image">
            <img [src]="imageURL" onerror="this.src='assets/images/broken-image.jpg'">
            <div class="overlay" id="overlay"></div>
            <div id="mobile-play" class="mobile-play">
                <button class="no-style glightbox" (click)="showVideo()">
                    <img src="assets/images/play-trailer.png" alt="Play Trailer">
                </button>
            </div>
        </div>
        <div id="details" class="details main-content">
            <div id="movie-info" class="movie-info">
                <div class="back">
                    <button class="no-style" routerLink="dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </button>
                </div>
                <div class="title-rating mt-one fw-500">
                    <div class="title">{{movieInfo?.title}}</div>
                    <div class="rating mt-half fw-500">Rating: {{(movieInfo?.vote_average/2).toString().slice(0, 3)}}</div>
                </div>
                <div class="movie-summary mt-one fw-400">
                    {{movieInfo?.overview?.length > 320 ? movieInfo?.overview?.slice(0, 320) + '...' : movieInfo?.overview}}
                </div>
                <div class="extra-info mt-one">
                    <div id="date-lang" class="date-lang fw-500">
                        <div>Release Date</div>
                        <div>{{movieInfo?.release_date?.slice(0,4)}}</div>
                        <div class="mt-half">Original Language</div>
                        <div class="mt-half">
                            <span class="languages"
                                *ngFor="let language of movieInfo?.spoken_languages">{{language?.english_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="play" class="play">
                <button class="no-style glightbox" (click)="showVideo()">
                    <img src="assets/images/play-trailer.png" alt="Play Trailer">
                </button>
            </div>
        </div>
    </div>
</ng-container>

<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>