.details{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: start;
    justify-items: start;
    background: linear-gradient(90deg, #000000 20%, rgba(0, 0, 0, 0) 150%);
    position: absolute;
    top: 0;
    width: 100%;
}

.movie-info{
    padding: 2rem 0 0 4rem;
    color: #fff;
    margin-top: 2rem;
}


.title-rating div:first-of-type{
    font-size: 38px;
}

.title-rating div:last-of-type{
    font-size: 14px;
    line-height: 20px;
}

.movie-summary{
    line-height: 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.date-lang{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: 70%;
    font-size: 14px;
}

.date-lang div{
    height: 20px;
}

.languages ~ .languages::before{
    content: ', ';
}

.background-image{
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - 77px);
    overflow: hidden;
    position: relative;
}

.background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 77px);
    width: 100%;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.mobile-play{
    display: none;
}

/* .movie-details{
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
} */