.header{
    padding: 1rem 2rem;
    background-color: #263F61;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins';
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.extra-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar {
    color: white;
    width: 424px;
    height: 44px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.26);
    background: rgba(255, 255, 255, 0.06);
}

.searchbar::placeholder{
    color: #fff;
}

.searchbar:focus-visible{
    outline: none;
}

.search{
    display: flex;
    align-items: flex-start;
    margin-right: 3rem;
}

.icon-wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: default;
}

#logout2{
    display: none;
}

.logout, #logout2{
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.logo-wrapper{
    display: flex;
    justify-content: space-between;
}
