<div id="header" class="header">
    <div class="logo-wrapper">
        <a routerLink="/dashboard">
        <div class="logo">
                <img src="assets/images/logo.png" alt="InstaPlay Logo">
            </div>
        </a>
        <div *ngIf="showButtons" id="logout2" class="logout2" (click)="logout()">Logout</div>
    </div>
    <div class="extra-content" *ngIf="showButtons">
        <div id="search" class="search">
            <input type="search" name="search" id="searchbar" class="searchbar" placeholder="Search Movies" [(ngModel)]="searchQuery"
                (ngModelChange)="searchSub.next($event)">
            <button class="icon-wrapper" type="submit">
                <img src="assets/images/search_icon.png" alt="search">
            </button>
        </div>
        <div class="logout" (click)="logout()">Logout</div>
    </div>
</div>