/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    min-height: calc(100vh - 77px);
    position: relative;
    top: 77px;
    font-family: 'Poppins';
    background-color: #0C111B;
}

.pad-2 {
    padding: 2rem;
}

body {
    background: #0C111B;
}

.mt-one {
    margin-top: 1rem;
}

.mt-half {
    margin-top: 0.5rem;
}

.mt-two {
    margin-top: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.no-style {
    background: transparent;
    border: none;
}

/* Lightbox Controls */
.glightbox-open {
    height: 100vh;
}

.gcontainer .gnext,
.gcontainer .gprev {
    display: none;
}

@media only screen and (max-width: 960px) {
    #date-lang {
        width: 90%;
    }
}

@media only screen and (max-width: 839px) {

    #login,
    #movie-details {
        min-height: calc(100vh - 77px);
        top: 77px;
    }

    .main-content {
        min-height: calc(100vh - 137px);
        top: 137px;
    }

    .logout {
        display: none;
    }

    #logout2 {
        display: block !important;
    }

    .logo-wrapper {
        width: 100%;
        align-items: center;
    }

    .extra-content,
    #search {
        width: 100%;
    }

    .extra-content {
        margin-top: 0.5rem;
    }

    #search {
        margin-right: 0px;
    }

    #searchbar {
        width: 100%;
    }

    #date-lang {
        width: 90%;
    }

    #movie-info {
        padding: 2rem;
    }

    #details {
        grid-template-columns: 1.5fr 0.5fr;
    }
}

@media only screen and (max-width: 630px) {
    #date-lang {
        width: 100%;
    }

    /* Mobile View */
    #play {
        display: none;
    }

    #mobile-play{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back {
        position: absolute;
        top: 20px;
    }

    #details {
        grid-template-columns: 1fr;
        position: unset;
        min-height: auto;
        background: #0C111B;
    }

    #background-image {
        height: auto;
    }

    #movie-info {
        margin-top: 0;
        padding: 2rem;
    }

    #overlay{
        display: block;
    }
}

@media only screen and (max-width: 590px) {
    form input {
        width: 100% !important;
    }

    .signin-wrapper {
        margin: 1rem;
    }
}

@media only screen and (max-width: 480px){
    /* Complete Mobile View */
    #header{
        padding: 1rem;
    }

    #banner{
        height: 10rem;
    } 

    #banner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #movies{
        padding: 1rem;
    }

    #moviesList{
        padding: 2rem 0;
        gap: 1.5rem;
    }

    #card{
        width: 100%;
        height: 14rem;
    }

    #loading{
        height: calc(100vh - 297px);
    }
}
